.wrapper {
  padding-top: 30px;
  width: 230px;
  height: 290px;
  /* border: solid red 1px; */
  margin: 0 auto;
  display: grid;
  
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px; 
}
  
.wrapper .orange {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background:rgb(248, 171, 4);
  text-align: center;
  color:white;
  border: none; 
  outline: none ;
    
}

.wrapper .grey {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background:grey;
  text-align: center;
  color:white;
  border: none; 
  outline: none ;
    
}

.wrapper .dark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background:rgb(50, 50, 50);
  text-align: center;
  color:white;
  border: none; 
  outline: none ;
    
}

.lastRow {
  padding-top: 10px;
  width: 230px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'null null coma equal' ;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px; 
}
   
.lastRow .null {
  grid-area: null;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  background: rgb(50, 50, 50);
  text-indent: -60%;
    
  color:white;
  border: none; 
  outline: none ;
    
}

.lastRow .coma {
  grid-area: coma;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  background:rgb(50, 50, 50);
  text-align: center;
  color:white;
  border: none; 
  outline: none ;
}

.lastRow .equal {
  grid-area: equal;
    
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background:rgb(248, 171, 4);
  text-align: center;
  color:white;
  border: none; 
  outline: none ;
}

  